/* HEADER */
header {
    overflow: hidden;
    background-color: #E8D9B5;
    padding: 15px 10px;
    border-radius: 25px;
    justify-content: center;
    display: flex;
  }
  
.title{
    font-size: 25px;
    margin-right: 20%;
    margin: 3% 6%;
}

.author{
    font-size: 14px;
    padding: 5px;
    margin: 3% 6%;
} 

/* BODY */

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #173F35;
}

/* BLOCKCHAIN */

.block, .set-get{
    text-align: center;
}

.blockchain{
    text-align: -webkit-center;
}

.block-edit{
    border:1px solid rgb(0, 0, 0);
    background: #E8D9B5;
    width: 64%;
    padding: 20px;
    margin: 16px;
    border-radius: 25px;
}

input:invalid {
    background: #ffffff;
  }

input:valid {
    background: lightgreen;
  }

.block-disable{
    border:1px solid black;
    background: #d6cece;
    width: 64%;
    padding: 20px;
    margin: 16px;
}

.block-invalid{
    border:1px solid fc030fblack;
    background: #fc030f;
    width: 64%;
    padding: 20px;
    margin: 16px;
}

.block p{
    margin: 8px;
    font-size: 24px;
}

.set-get{
    margin: 20px;
}

/* GET VALUE */

#getValue{
    text-align: center;
    font-size: 20px;
}
